meta(charset='utf-8')
link(href='/assets/img/apple-icon.png', rel='apple-touch-icon', sizes='76x76')
link(href='/assets/img/favicon.png', rel='icon', type='image/png')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
title
  | #{page_tab_title}
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')
// Extra details for Live View on GitHub Pages
// Canonical SEO
link(href='#', rel='canonical')
// Social tags
meta(name='keywords', content='Attendance System, Mscit Atmiya University, College')
meta(name='description', content="Attendance System, Mscit Atmiya University, College")
// Schema.org markup for Google+
meta(content='Attendance System, Mscit Atmiya University, College', itemprop='name')
meta(content="Attendance System, Mscit Atmiya University, College, Msc-it Sem3 Atmiya University", itemprop='description')
meta(content='https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_thumbnail.jpg', itemprop='image')
// Twitter Card data
meta(name='twitter:card', content='product')
meta(name='twitter:site', content='@creativetim')
meta(name='twitter:title', content='Attendance System, Mscit Atmiya University, College')
meta(name='twitter:description', content="Attendance System, Mscit Atmiya University, College, Msc-it Sem3 Atmiya University")
meta(name='twitter:creator', content='@creativetim')
meta(name='twitter:image', content='https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_thumbnail.jpg')
// Open Graph data
meta(content='655968634437471', property='fb:app_id')
meta(content='Attendance System, Mscit Atmiya University, College', property='og:title')
meta(content='article', property='og:type')
//- meta(content='http://demos.creative-tim.com/material-dashboard-pro/examples/dashboard.html', property='og:url')
//- meta(content='https://s3.amazonaws.com/creativetim_bucket/products/51/original/opt_mdp_thumbnail.jpg', property='og:image')
meta(content="Attendance System, Mscit Atmiya University, College, Msc-it Sem3 Atmiya University", property='og:description')
meta(content='Creative Tim', property='og:site_name')
// Fonts and icons
link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons', rel='stylesheet', type='text/css')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
// CSS Files
link(href='/assets/css/material-dashboard.min.css?v=2.1.0', rel='stylesheet')

// custom css
link(href='/stylesheets/custom.css', rel='stylesheet')

// Google Tag Manager
script.
  (function(w, d, s, l, i) {
  w[l] = w[l] || [];
  w[l].push({
  'gtm.start': new Date().getTime(),
  event: 'gtm.js'
  });
  var f = d.getElementsByTagName(s)[0],
  j = d.createElement(s),
  dl = l != 'dataLayer' ? '&l=' + l : '';
  j.async = true;
  j.src =
  'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
  f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');
// End Google Tag Manager