//-  Main_layout (Master Page)
extends _layout

block append head
  style.
    body: {background-color: #fff !important;}

//- Varialbes 
block append variables
  - page_tab_title = "Take Attendance"
  - page_primary_heading = "Student List"
  - 
    //- console.log(students)

block append footer
  // Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard
  script(src='/assets/js/plugins/face-api.min.js')
  script.
    let students = JSON.parse('!{JSON.stringify(students)}')
    console.log(students)
  script(src='/assets/js/plugins/faceLogic.js')


//- Page Content 
block content-fluid
  .ml-4
    .row
    input(type="file", name='imageUpload', id='imageUpload')
    div#myImage(style='height:100px; color:"blue"') ok