//-  Main_layout (Master Page)
extends _layout

//- Varialbes 
block append variables
  - page_title = 'Edit Student'
  - page_tab_title = "Student Registration"

//- Page Specific Assets 
block append footer
  script(src='https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js')
  script.
    $("input[name='teacher_id']").val(getCookie('teacher_id'))


//- Page Content 
block content-fluid 
  .col-md-10.col-12
    .card
      .card-header.card-header-primary
        h4.card-title Student
        p.card-category Registration form
      .card-body
        form.form-group.form-file-upload.form-file-simple(action='/registration', enctype="multipart/form-data" , method="POST")
          .row.mt-4
            .col-md-6
              .form-group.bmd-form-group
                label.bmd-label-floating Full Name
                input.form-control(type='text', name='name')
            .col-md-6
              .form-group.bmd-form-group
                label.bmd-label-floating Email address
                input.form-control(type='email', name='email')
          .row.mt-3
            .col-md-12
              label Address
              .form-group.bmd-form-group
                label.bmd-label-floating  Enter Your Full address seprated by comma ( city, town, etc)
                textarea.form-control(rows='3', name='address')
          .row.mt-3
            .col-md-4
              .form-group.bmd-form-group
                label.bmd-label-floating mobile
                input.form-control(type='number', name='mobile', min='2'  )
            .col-md-4
              .form-group.bmd-form-group
                label.bmd-label-floating enrollment_no
                input.form-control(type='text', name='enrollment_no'  )
            .col-md-4
              .form-group.bmd-form-group
                label.bmd-label-floating Birthdate
                input.form-control(type='Date' name='dob'  )
          .row.mt-5
            .col-3
              .form-group.bmd-form-group
                label.bmd-label-floating RollNo
                input.form-control(type='number', name='roll_no'  )
            .col-3
              .custom-file
                input#profile_pic.custom-file-input(type='file', name='profile_pic', accept="image/*", multiple)
                label.custom-file-label(for='profile_pic') ProfoliPic
            .col-3
          input.form-control(type='submit')